Dados: Empresa que trabalha com produtos de limpezas e higiene, e os produtos precisam passar por uma checagem regular, para verificar se eles estão dentro dos padrões para serem comercializados.Um amaciante e uma caixa de sabão em pó. Analisaremos os dados conforme suas medidas e verificando se elas seguem algumas métricas das medidas de tendência central (média, mediana e moda).

In [2]:
import pandas as pd
# Importando a base de dados dos volumes de um amaciante em 1000 amostras realizadas
vol_amaciante = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/dataviz-graficos/master/dados/volume_amaciante.csv")
vol_amaciante.head()

   Volume
0   999.8
1   999.5
2   999.7
3   999.1
4   999.8

In [3]:
# Verificando a estatística descritiva das amostras de volume em forma de tabela
vol_amaciante.describe()

           Volume
count  1000.00000
mean    999.98970
std       0.48553
min     998.30000
25%     999.70000
50%    1000.00000
75%    1000.30000
max    1001.50000

**Como estão distribuídos os dados dos volumes da amostra do amaciante? Qual seria o seu valor central (média e mediana)?**

**Como estão distribuídos os dados dos volumes do amaciante de acordo com a mediana e os quartis? Possuo dados discrepantes?**